:root {
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;
}

:root{
    --dark-charcoal: #313131;
    --pure-white: #ffffff;
    --almost-black: #010000;
    --deep-gray: #161515;
    --dark-onyx: #0C0C0C;
    --steel-blue: #3057A2;
    --taupe-gray: #595653;
    --light-gray: #D0D0D0;
    --vivid-red: #F54932;
    --charcoal-gray: #1F1F1F;
    --slate-gray: #424241;
    --sunny-yellow: #FBCE51;
    --off-white: #FBFAFC;
    --pale-gray: #D9D9D9;
    --light-beige: #E9DED4;    
}