.footer{
    background: var(--light-beige);
    padding: 4rem 0 7.2rem;

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;
    }
}