@use "../global";

.header{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    &__logo{
        display: flex;
        gap: .6rem;
        padding-top: 2.6rem;
    }

    &__img{
        width: 9.2rem;
        height: 3.12rem;
    }

    &__site-name{
        font-family: var(--main);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 108%;
        text-transform: uppercase;
        color: var(--taupe-gray);
    }
}